
<h1>Welcome to Ghost Tours!</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" *ngFor="let tour of tours">
    <div class="carousel-item active">
      <img [(ngModel)]="tour.image" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="emptychair.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="HauntedHouse.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div> -->
